.home-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left:380px;
    
}
.subjects{
    display: flex;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
    
}
.subjects img{
    width: 200px;
    height: 200px;
    margin-right: 5px;
}
.subjects h1{
    font-size:25px;
}
.subjects h2{
    font-size:20px;
}
.subjects h3{
    font-size:18px;
}
.btn-regular{
    background-color: salmon;
    padding: 5px;
    color: aliceblue;
    
    border-radius: 5px;
}